{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="section-one booking">

    </section>
    
    <!-- <div class="section-light">
        <div class="container">
            <div class="col-6 pr-2">
                <img src="{% static 'img/section2-image.png' %}" alt="">
            </div>
            <div class="col-6 pl-2">
                <h2>Book a table</h2>
                <hr>
                <p class="mb-2">We are now taking table reservations online for dining from August 1st onwards in line with social distancing guidance, for parties of up to six people. If your party is larger than six, please call or e-mail us.</p>
                <p>Please make us aware of any allergies or specific dietary requirements at the time of booking.</p>
            </div>
        </div>
    </div> -->

    <div class="section-light">
        <div class="container">
            <!-- modal -->
            <div class="booking-modal">
                <div class="calendar">
                    <div class="month">
                        <i class="fas fa-angle-left prev"></i>
                        <div class="date">
                            <h4></h4>
                            <p></p>
                        </div>
                        <i class="fas fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days">
                    </div>
                </div>
            </div>

            <div class="form-wrapper">
                <form method="post" class="booking-form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-submit btn-form">Find a table</button>
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}