{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="p-section-2 parallax-window" data-parallax="scroll" data-image-src="{% static 'img/reservation.png' %}">
        <div class="container">
            
        </div>
    </div>

    <div class="section-one section-light">
        <div class="container">

            <!-- modal -->
            <div class="booking-modal">
                <div class="calendar">
                    <div class="month">
                        <i class="fas fa-angle-left prev"></i>
                        <div class="date">
                            <h4></h4>
                            <p></p>
                        </div>
                        <i class="fas fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days">
                    </div>
                </div>
            </div>

            <!-- booking form -->

            <div class="form-wrapper">
                <form method="post" class="booking-form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary btn-form">Find a table</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="col-6 pr-2 text-right">
                <h2>Private dining</h2>
                <hr>
                <p class="mb-2">“The Meazzanine Room” features a temperature-controlled wine cellar, displays of more wine and a private atmosphere. A semi-private room, “Barbaresco,” is available for meetings, birthdays and other occasions.</p>
                <p class="mb-2">“The Meazzanine Room” seats up to 50 guests. Please contact us for further information.</p>
                <a href="{% url 'index' %}#contact" class="btn btn-primary">Contact us</a>
            </div>
            <div class="col-6 pl-2">
                <img src="{% static 'img/private-dining.png' %}" alt="">
            </div>
        </div>
            
        </div>
    </div>
{% endblock %}