{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="section-one showcase">
        <div class="container">
        </div>
    </section>

    <div class="section-light">
        <div class="container">
            <div class="col-6 pr-2">
                <img src="{% static 'img/section2-image.png' %}" alt="">
            </div>
            <div class="col-6 pl-2">
                <h2>Our story</h2>
                <hr>
                <p class="mb-2">ST815 is our brand new casual-dining neighbourhood restaurant offering Lunch and Dinner from Wednesday to Saturday plus Sunday Lunch. In case you were wondering, the ST815 team will be conjuring up magical new menu ideas every Monday and Tuesday to be enjoyed for the rest of the week, as well as the odd bit of R&R!</p>
                <p>ST815 is somewhere to go and meet friends for a drink and a few plates of nibbles, to meet your partner for a weekend meal of quality, somewhere to celebrate birthdays, anniversaries and eat out during your trips to Oxford and somewhere for the whole family on Sundays.</p>
            </div>
        </div>
    </div>

    <div class="p-section-2 parallax-window" data-parallax="scroll" data-image-src="{% static 'img/restaurant.png' %}">
        <div class="container">
            
        </div>
    </div>

    <div class="section-light">
        <div class="container">
            <div class="col-6 pr-2 text-right">
                <h2>Restaurant</h2>
                <hr>
                <p class="mb-2">Our aim at ST815 is to provide great value menus where food is all about seasonality and great ingredients. Paul heads up our award-winning team, bringing you dishes that will wow you!</p>
                <p class="mb-2">Our menus offer a set two or three course selection, providing great taste and great value starting at just £35. Our menus change frequently so we can use the freshest of ingredients and keep things seasonal and local.</p>
                <a href="" class="btn btn-primary">View the menu</a>
            </div>
            <div class="col-6 pl-2">
                <img src="{% static 'img/section4-image.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="p-section-2 parallax-window" data-parallax="scroll" data-image-src="{% static 'img/menu.png' %}">
        <div class="container">
            
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="col-6 pr-2">

            </div>
            <div class="col-6 pl-2">
                <h4><i class="fas fa-envelope"></i> Send a message</h4>
                <form method="post">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}