{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="p-section-2 parallax-window" data-parallax="scroll" data-image-src="{% static 'img/menu.png' %}">
        <div class="container">
            
        </div>
    </div>

    <div class="section-one section-light">
        <div class="container flex-col mb-4">
            <p><strong>“Ever-changing and evolving creations”</strong></p>
            <p>We only use the freshest market ingredients so our menu constantly changes to maximise freshness and seasonality</p>
        </div>

        <div class="container text-top">
            <div class="col-6 pr-2">
                <h2>To start</h2>
                <hr>
                {% for starter in starters %}
                    <div class="menu-item">
                        <p class="menu-item-name">{{ starter.name }}</p>
                        <p class="menu-item-tags">
                            {% for tag in starter.dietary_tags.all %}
                                {{ tag }}
                            {% endfor %}
                        </p>
                        <p class="menu-item-price">£{{ starter.price }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="col-6 pl-2">
                <h2>To follow</h2>
                <hr>
                {% for main in mains %}
                    <div class="menu-item">
                        <p class="menu-item-name">{{ main.name }}</p>
                        <p class="menu-item-tags">
                            {% for tag in main.dietary_tags.all %}
                                {{ tag }}
                            {% endfor %}
                        </p>
                        <p class="menu-item-price">£{{ main.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container mt-2 text-top">
            <div class="col-6 pr-2">
                <h2>Sides</h2>
                <hr>
                {% for side in sides %}
                    <div class="menu-item">
                        <p class="menu-item-name">{{ side.name }}</p>
                        <p class="menu-item-tags">
                            {% for tag in side.dietary_tags.all %}
                                {{ tag }}
                            {% endfor %}
                        </p>
                        <p class="menu-item-price">£{{ side.price }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="col-6 pl-2">
                <h2>To finish</h2>
                <hr>
                {% for dessert in desserts %}
                    <div class="menu-item">
                        <p class="menu-item-name">{{ dessert.name }}</p>
                        <p class="menu-item-tags">
                            {% for tag in dessert.dietary_tags.all %}
                                {{ tag }}
                            {% endfor %}
                        </p>
                        <p class="menu-item-price">£{{ dessert.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container flex-col mt-2">
            <p>Vegetarian, pescatarian and gluten-free menus are also available</p>
            <div class="container">
                <div class="dietary-needs">
                    <p><strong>V</strong> Vegetarian</p>
                    <p><strong>P</strong> Pescatarian</p>
                    <p><strong>GF</strong> Gluten-free</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}