@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Raleway&display=swap');

:root {
    --primary-color: #6dccaa;
    --secondary-color: #ffce4e;
    --tertiary-color: #ebcd9b;
    --font-color: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9em;
    letter-spacing: .2px;
    color: var(--font-color);
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h2 + hr {
    display: inline-block;
    width: 50px;
    height: 3px;
    margin: 20px 0;
    background: #333;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: normal;
    color: inherit;
    cursor: pointer;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}

.btn-block {
    width: 100%;
}

.btn-form {
    width: 24%;
}

.btn-primary,
.btn-submit {
    border: 2px solid #333;
}

.btn-primary:hover {
    color: #fff;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-submit:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}

.contact-form {
    padding: 50px 0;
    text-align: center;
    background: #f0f0f0;
}

.contact-form form {
    margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    display: block;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 0 auto 10px auto;
    font-family: 'Raleway','Helvetica Neue',Helvetica,sans-serif;
    outline: none;
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}

textarea {
    resize: none;
}

footer {
    width: inherit;
    display: block;
    padding: 30px 0;
    text-align: left;
    background: #e6e6e6;
}

.section-one {
    height: 100vh;
}

.showcase {
    background: var(--primary-color);
}

.section-light {
    background: #fff;
    padding: 100px 0;
}

.p-section-2 {
    position: relative;
    background: var(--secondary-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}

.list-group {
    list-style: none;
}

.col-6 {
    flex: 0 0 100%;
    max-width: 100%;
}

.mb-2 {
    margin-bottom: 2rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}